* {
	margin: 0;
	padding: 0;
}

header.shake{
      color: #fff;
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 130px;
  font-weight: 1000;
  line-height: 46px;
  margin: 60px 20px 20px 20px;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(55, 75, 105, 0.65);
  width: 100%;
}

main{
  padding-left: 187px;
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 20px;
  text-align: center;
  background: white
}

div.shake-crazy {  
  /* padding-left: 87px; */
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 20px;
  text-align: right;
  background: white

}

body {
   background: url('http://www.graphis.com/media/uploads/cfe/entry/85a45a23-6627-47bb-8109-cf041ed4feed/Line%20Pattern_2.jpg') left center;  
  border-radius: 60%; 
	align-items: center;
  background-color: #FFF;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 990;
  line-height: 70px;
	flex-direction: column;
	justify-content: center;
}
 
div.container {
	align-items: bottom;
	align-self: left;
	 /* background: url('https://image.freepik.com/free-vector/skull-icons-collection_1010-438.jpg') left center;  
	border-radius: 60%; */
	/* display: flex; */
	   /* flex-direction: left;   */
	 /* min-height: 500px;  */
	/* justify-content: center;  */
  /* width: 1000px; */ 
}

a.boton {
	background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(55, 75, 105, 0.65) 67%); 
	border-radius: 2px;
	box-shadow: 0px 2px 4px rgba(34,62,66,.25);
  color: #fff;
  font-size: 15px;
  letter-spacing: 18px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
}

ul{ list-style-type: none; 
    position: fixed; 
    overflow: auto;
}

ul a:hover {
    background-color:black;
}

div.gallery {
    margin: 1px;
    border: none
    /* float: left; */
    
}

div.gallery:hover {
    border:none
    
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding-left: 187px;
    text-align: left;
    font-family: 'Zilla Slab Highlight', cursive;
    font-weight: 1000;
    line-height: 46px;
    font-size: 28px;
    background: white
    
}

footer{
  font-size: 20px
  
   
}

